<h5 class="text-success text-center">Dtealle Producto</h5>

<form class="my-4 w-50 mx-auto"
  #f="ngForm" (submit)="f.form.valid && guardarProducto($event)"
>
  <div class="d-flex gap-2">
    <input type="text" id="descripcion" name="descripcion"
      placeholder="Descripción Producto" class="form-control flex-grow-1"
      autocomplete="off"
      [(ngModel)]="descriptionInput"
      required />

    <input type="number" id="precio" name="precio"
      placeholder="Precio" class="form-control flex-grow-1"
      [(ngModel)]="precioInput" required />
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary">Guardar Producto</button>
    @if (llaveProducto !== null) {
      <button type="button" class="btn btn-danger mx-3" (click)="(eliminarProducto())">
        Eliminar Producto
      </button>
    }
    <button type="button" class="btn btn-warning ms-3" (click)="cancelar()">Cancelar</button>
  </div>
</form>
